/*about me*/
.about {
    /*background: url("../images/Без\ имени-2.png") center no-repeat;*/
    height: 630px;
    padding: 170px 0;
    background-color: black;
}

.about .transition {
color: white;
font-size: 74px;
font-family: Robotic;
cursor: default;

display: flex;
justify-content: center;
margin: 200px 0 0 0;
}

/*about me list*/
.about_list {
padding: 50px 0;
background: #1c1c1c;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
min-height: 500px;
}

.about_list .container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20rem;
gap: 4rem;
height: 100%;
}

.about_list .container.reverse {
flex-direction: row-reverse;
}

.about_list .container.reverse .title {
left: unset;
right: 72rem;
align-items: flex-start;
}

.about_list .pic1 {
height: 460px;
width: 632px;
}

.about_list .title {
color: white;
font-size: 64px;
font-family: Robotic;
cursor: default;

position: absolute;
height: 25rem;
left: 72rem;
}

.about_list .speech {
color: white;
font-size: 20px;
font-family: Robotic;
cursor: default;
}