header {
    width: 100%;
    padding: 0 4rem;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    justify-items: center;
    align-items: center;
    background: #00000080;
    border-bottom: solid 1px #ffffff30
}

header .logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
    position: relative;
}

nav [type=checkbox] {
    display: none;
}

nav [type=checkbox] ~ div {
    display: none;
}

nav [type=checkbox]:checked ~ div {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #00000050;
}

nav [type=checkbox] ~ div > [for] {
    display: none;
}

#careers:checked ~ div > [for=careers],
#projects:checked ~ div > [for=projects] {
    display: block;
    position: fixed;
    top: 80px;
    width: 50vw;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 2rem;
    background: #000000d0;
    text-shadow: 0 0 5px black;
    border-radius: 5px;
}

nav a, nav label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

nav a:after, nav label:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

nav a:hover, nav label:hover {
    color: #fce38a;
}

nav a:hover:after, nav label:hover:after {
    opacity: 1;
}

.social_media {
    display: flex;
    gap: 1rem
}

.social_media a {
    color: #fce38a;
    font-size: 14pt;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    line-height: 1.6;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    
    background-color: #333;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

    position: absolute;
    left: 4rem;
    bottom: 10rem;
}

#welcome {
    color: #fff;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;

    position: absolute;
    left: 7rem;
    bottom: 13rem;
}

/*Welcome*/
.welcome {
    /*background: url("../images/Без\ имени-2.png") center no-repeat;*/
    height: 630px;
    background-color: black;
    background-attachment: fixed;
}

.welcome .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.welcome .title {
    color: white;
    font-size: 74px;
    font-family: Robotic;
    cursor: default;
}

.welcome .subtitle {
    color: white;
    font-size: 18px;
    font-family: Robotic;
    cursor: default;
}

.welcome .transition {
    color: white;
    font-size: 84px;
    font-family: Robotic;
    cursor: default;
    
    position: absolute;
    bottom: -32rem;
    left: 51rem;
}

/* GitHub link*/
.GitHub_link {
    color: white;
    text-decoration: none;
}

.GitHub_link:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/*section career*/
.career {
    padding: 170px 0;
    background: grey;
}

.section_transition_career {
    margin: 0px auto 40px;
}

.section_transition_career_text {
    font-size: 84px;
    font-family: Arial Narrow, sans-serif;
    color: white;
    cursor: default;
    text-align: center;
}


/*section career text*/
.career {
    height: 630px;
    background: black;
}

.career .transition {
    color: white;
    font-size: 74px;
    font-family: Robotic;
    cursor: default;

    display: flex;
    justify-content: center;
    margin: 200px 0 0 0;
}

.section_career_text_introduction {
    font-size: 16px;
    text-align: left;
    padding: 0px 0px 16px;
    line-height: 2;
}

.section_career_quotation_icon {
    width: 70px;
    height: 70px;

    top: 4451px;
    right: 1373px;

    position: absolute;
}

.section_career_text_quotation {
    font-size: 20px;
    text-align: left;
    padding: 64px 0px 0px 0px;
}

.section_career_text_part1 {
    font-size: 16px;
    text-align: left;
    line-height: 2;
    padding: 28px 0px 0px 0px;
}

.section_career_text_part2 {
    font-size: 16px;
    text-align: left;
    padding: 28px 0px 0px 0px;
}


/*section about me*/
.section_about_me {
    padding: 50px 0;
    background: gray;
}

/*section about me list*/
.section_about_me_list {
    padding: 50px 0;
    background: black;
}

/*section contact*/
.section_contact {
    padding: 50px 0;
    background: #333;
}

@media screen and (max-width: 800px) {
    section.skill .container {
        flex-direction: column !important;
    }
}